<h1>Songs</h1>
<table>
  <!--
  <tr>
    <th>Song</th>
    <th>Beginning</th>
  </tr>
  -->

  <tr>
    <td><%= link_to 'New song', new_song_path, class: 'new-song' %></td>
  </tr>

  <% @songs.each do |song| %>
    <tr>
      <td><%= link_to song.title, song_path(song), class: 'song' %></td>
    </tr>
  <% end %>

</table>
