// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  width: 640px;
  position: absolute;
  left: 50%;
  margin-left: -320px;
  font-size: 80%;

  h1 {
    color: gray;
  }

  table {
    padding: 0;
    width: 100%;
    text-align: left;
  }

  th {
    background: white;
    font-weight: normal;
    color: #aaa;
    text-align: center;
  }

  tr {
    background-color: #fafafa;

    &.selected {
      background-color: #eaeaea;
    }
  }

  td {
    padding: 5px;
  }

  table a {
    color: #222;
    text-decoration: none;
    display: block;
    width: 100%;
  }

  table a:hover {
    text-decoration: underline;
  }

  table a.new-song {
    font-style: italic;
    color: #666;
  /*background-color: #eee;*/
  }

  input[type=text] {
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 40em;
  }
}
