// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  width: 640px;
  position: absolute;
  left: 50%;
  margin-left: -320px;
  font-size: 80%;
}

.content h1 {
  color: gray;
}

.content table {
  padding: 0;
  width: 100%;
  text-align: left;
}

.content th {
  background: white;
  font-weight: normal;
  color: #aaa;
  text-align: center;
}

.content tr {
  background-color: #fafafa;
}

.content td {
  padding: 5px;
}

.content table a {
  color: #222;
  text-decoration: none;
  display: block;
  width: 100%;
}

.content table a:hover {
  text-decoration: underline;
}

.content table a.new-song {
  font-style: italic;
  color: #666;
  /*background-color: #eee;*/
}

.content input[type=text] {
  width: 100%;
}

.content textarea {
  width: 100%;
  height: 40em;
}
